# Godot 4+ specific ignores
.godot/
/android/

# Rapier lib
addons/godot-rapier2d/bin/~libgodot_rapier.windows.x86_64-pc-windows-msvc.dll
addons/godot-rapier2d/bin/~libgodot_rapier.windows.x86_64-pc-windows-msvc.dll~RF4c0135e.TMP
*.TMP
builds
